* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Almarai', sans-serif;
    color: var(--white-color);
}

:root {
    --dark-mode-bg: #1E1E1E;
    --white-color: #ffffff;
    --black-color: #000000;
    --green-color: #61F4DE;
    --purple-color: #6E78FF;
    --transition-time: 0.3s ease;
}

/* Rules */


/* Rules end here */


.container {
    padding: 0 20px;
    margin: 0 auto;
}

/* Small Screens */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

body {
    background: var(--dark-mode-bg);
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    background: #141414;
}

header .container .userInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .userInfo .userSalute {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .container .userInfo .userSalute .username {
    margin-right: 5px;
}

header .container .logoutBTN {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    transition: var(--transition-time);
    cursor: pointer;
}

header .container .logoutBTN:hover {
    color: var(--green-color);
}

header .container .logoutBTN i {
    margin-right: 5px;
    color: inherit;
}

/* Main starts here */

main .courseWallpaper {
    width: 100%;
    height: 500px;
    position: relative;
    background: #141414;
    background-image: url(../assets/Expert.jpg);
    background-position: center;
    background-size: cover;
    user-select: none;
    overflow: hidden;
}

main .courseWallpaper::after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, transparent, var(--dark-mode-bg));
    width: 100%;
    height: 100%;
}

main .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    padding-bottom: 50px;
    /* height: calc(100vh - 50.4px); */
}

main .container .courseInfo {
    width: 100%;
}

main .container .courseInfo .courseName-register {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .container .courseRegBTN {
    padding: 10px 20px;
    border: 0;
    background: linear-gradient(90deg, var(--green-color), var(--purple-color));
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

main .container .courseName,
main .container .price {
    margin-top: 0;
}

main .container .courseName {
    margin-bottom: 0;
}

main .container .price {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    background: var(--purple-color);
    border-radius: 5px;
}

@media (max-width: 768px) {
    main .container .courseInfo .courseName {
        font-size: 24px;
    }

    main .container .courseInfo .courseName-register {
        flex-direction: column;
        align-items: flex-start;
    }

    main .container .courseInfo .courseName-register .courseRegBTN {
        margin: 40px 0;
        width: 100%;
        font-size: 18px;
    }

    main .container .price {
        font-size: 16px;
    }
}

main .container .courseInfo div:not(main .container .courseInfo div:last-child) {
    margin-bottom: 20px;
}

main .container .courseInfo i {
    margin-left: 5px;
}

main .container .courseInfo .courseLink a {
    color: var(--green-color);
}

main .container .courseInfo .description {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

main .container .courseInfo .description .descHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .container .courseInfo .descHeading .showMoreBTN {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    border: 0;
    background: #141414;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: var(--transition-time);
}

main .container .courseInfo .descHeading .showMoreBTN i {
    margin: 0 10px 0 0;
    transform: rotate(180deg);
    transition: var(--transition-time);
}

main .container .courseInfo .descHeading .showMoreBTN:hover {
    color: #141414;
    background: var(--white-color);
}

main .container .courseInfo .descHeading .showMoreBTN:hover i {
    color: #141414;
}

main .container .courseInfo .description .outline.active {
    height: auto;
    padding: 20px;
}

main .container .courseInfo .description .outline {
    direction: ltr;
    background: #141414;
    border-radius: 10px;
    height: 0;
    padding: 0;
    overflow: hidden;
}

main .container .courseInfo .description .modulesList {
    list-style-type: decimal;
}

main .container .courseInfo .description .topicsList {
    list-style-type: square;
}

main .container .courseInfo .description .lecturesList {
    list-style-type: square;
}